body { 
  margin:0;
  position: relative;
  min-height: 100vh;
  display:flex; 
  flex-direction: column; 
  background-size: auto 100%;
  background-image:
    linear-gradient( rgba(0,0,0,.75), rgba(0,0,0,.5) ),
    url("images/portrait.gif");
}

@media (min-aspect-ratio: 1/1) {
  body {
    background-image:
      linear-gradient( rgba(0,0,0,.75), rgba(0,0,0,.5) ),
      url("images/landscape.gif");     
  }
}

@media (min-aspect-ratio: 2/1) {
  body {
    background-size: 100% auto;
  }
}

main {
  padding-bottom: 6rem;
}